<a href="{{ path('add') }}" > AjouterStudent </a> 
<br>
{% for i in tabstudent %}
 usename:{{i.username}}
 moyenne:{{i.moyenne}}

 <a href="{{ path('remove2',{'nce':i.nce}) }}" > Supprimer </a> 
 <a href="{{ path('update2',{'nce':i.nce}) }}"> Modifier </a> 
 <br>

{% endfor %}